{% extends 'pages/base.html' %}

{% block title %} All Passwords {% endblock %}

{% block nav-left-side %}
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="{% url 'manage-passwords' %}">Manage Passwords</a>
</li>
{% endblock %}

{% block nav-right-side %}
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
</li>
{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-2 col-lg-2">

        </div>
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="s_data" class="form-control" placeholder="Enter Search Data" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                  </div>
            </form>
            <p class="text-muted">{% if s_data %} Found <strong>{{ s_data.count }}</strong> items. <a href="{% url 'all-cards' %}" class="text-primary">Clear</a>{% endif %}</p>
        </div>
        <div class="col-md-2 col-lg-2">

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if s_data %}
            {% for data in s_data %}
            <div class="col-md-3 col-lg-3 col-sm-12 p-1">
                <div class="card">
                    <div class="card-body p-2">
                      <h6 class="card-title text-center">{{ data.cc_holder_name|title }}</h6>
                      <h5 class="card-text text-center"><strong>{{ data.cc_number }}</strong></h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                        <small>CCV : {{ data.ccv_code }}</small>
                        <small class="float-end">Exp Date : {{ data.exp_date|title }}</small>
                      </h6>
                      <div class="btn-group btn-group-sm">
                        <form method="POST" action="{% url 'update-card' %}">
                            {% csrf_token %}
                            <input type="hidden" name="up_id" value="{{ data.id }}" />
                            <input type="submit" class="btn btn-outline-success btn-sm" value="Update" />
                        </form>
                        <form method="POST" action="{% url 'delete-card' %}">
                            {% csrf_token %}
                            <input type="hidden" name="del_id" value="{{ data.id }}" />
                            <input type="submit" class="btn btn-outline-danger btn-sm" value="Delete" />
                        </form>
                        </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% if not s_data %}
<div class="container">
    <div class="row">
        {% if page_obj %}
        {% for cc in page_obj %}
        <div class="col-md-3 col-lg-3 col-sm-12 p-1">

                <div class="card">
                    <div class="card-body p-2">
                      <h6 class="card-title text-center">{{ cc.cc_holder_name|title }}</h6>
                      <h5 class="card-text text-center"><strong>{{ cc.cc_number }}</strong></h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                        <small>CCV : {{ cc.ccv_code }}</small>
                        <small class="float-end">Exp Date : {{ cc.exp_date|title }}</small>
                      </h6>
                      <div class="btn-group btn-group-sm">
                        <form method="POST" action="{% url 'update-card' %}">
                            {% csrf_token %}
                            <input type="hidden" name="up_id" value="{{ cc.id }}" />
                            <input type="submit" class="btn btn-outline-success btn-sm" value="Update" />
                        </form>
                        <form method="POST" action="{% url 'delete-card' %}">
                            {% csrf_token %}
                            <input type="hidden" name="del_id" value="{{ cc.id }}" />
                            <input type="submit" class="btn btn-outline-danger btn-sm" value="Delete" />
                        </form>
                        </div>
                    </div>
                  </div>

        
        </div>
        {% endfor %}
        {% endif %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
                  </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              {% endif %}

              <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
              </li>
              {% endif %}
            </ul>
          </nav>
    </div>
</div>
{% endif %}


{% endblock %}