{% extends 'pages/base.html' %}

{% block title %} Manage Passwords {% endblock %}

{% block nav-left-side %}
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="{% url 'all-passwords' %}">All Passwords</a>
</li>
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="{% url 'all-cards' %}">All Cards</a>
</li>
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="#">Trash Bin</a>
</li>
{% endblock %}

{% block nav-right-side %}
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
</li>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 ">
        <div class="row">
            <div class="col-md-5 col-lg-5">

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Add Password</h5>
                      <h6 class="card-subtitle mb-2 text-muted">General Password</h6>
                      <form method="POST">
                        {% csrf_token %}
                      {{ form1.as_p }}
                      <button type="submit" class="btn btn-success btn-sm float-end">Add Password</button>
                    </form>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Add Card Detail</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Credit/Debit/ATM Card Info</h6>
                      <form method="POST">
                        {% csrf_token %}
                      {{ form2.as_p }}
                      <button type="submit" class="btn btn-success btn-sm float-end">Add Card</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col">

                <div class="row">
                  {% if recent_passwords %}
                  {% for pass in recent_passwords %}
                    <div class="col-md-4 col-lg-4 p-1">
                        <div class="card">
                          
                            <div class="card-body p-2">
                              <span class="text-success"><small><small>Password</small></small></span>
                              <h5 class="card-title text-center">{{ pass.title|title }}</h5>
                              <h6 class="card-subtitle mb-2 text-center">Un : {{ pass.username }}</h6>
                              <h6 class="card-subtitle mb-2 text-center">Pass : {{ pass.password }}</h6>
                              <!-- <p class="text-muted">
                                <small>Notes:<br/>{{ pass.notes }}</small>
                              </p> -->
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="row mt-1">
                 {% if recent_cc %}
                  {% for cc in recent_cc %}
                   <div class="col-md-4 col-lg-4 p-1">
                    <div class="card">
                      <div class="card-body p-2">
                        <span class="text-success"><small><small>Card</small></small></span>
                        <h6 class="card-title text-center">{{ cc.cc_holder_name|title }}</h6>
                        <h5 class="card-text text-center"><strong>{{ cc.cc_number }}</strong></h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                          <small>CCV : {{ cc.ccv_code }}</small>
                          <small class="float-end">Exp Date : {{ cc.exp_date|title }}</small>
                        </h6>
                      </div>
                    </div>
                   </div>
                   {% endfor %}
                {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}