{% extends 'pages/base.html' %}

{% block title %} Update Password Data {% endblock %}

{% block nav-left-side %}
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="{% url 'all-passwords' %}">All Passwords</a>
</li>
{% endblock %}

{% block nav-right-side %}
<li class="nav-item">
	<a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
</li>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3 col-lg-3">

            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Update Password Data...</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <hr/>
                      <form method="POST">
                          {% csrf_token %}
                        <input type="hidden" name="up_id" value="{{ up_data.id }}" />
                        <p>
                            <label for="id_title">Title/Site Name:</label>
                            <input type="text" name="title" class="form-control" maxlength="65" value="{{ up_data.title }}" required id="id_title">
                            
                            
                          </p>
                        
                          
                          <p>
                            <label for="id_username">Username:</label>
                            <input type="text" name="username" class="form-control" maxlength="50" value="{{ up_data.username }}" required id="id_username">
                            
                            
                          </p>
                        
                          
                          <p>
                            <label for="id_password">Password:</label>
                            <input type="text" name="password" class="form-control" maxlength="100" value="{{ up_data.password }}" required id="id_password">
                            
                            
                          </p>
                        
                          
                          <p>
                            <label for="id_category">Category:</label>
                            <select name="category" class="form-control" id="id_category">
                          <option value="OS" {% if up_data.category == 'OS' %} selected {% endif %}>Online Sites</option>
                        
                          <option value="Lp" {% if up_data.category == 'Lp' %} selected {% endif %}>Laptop</option>
                        
                          <option value="PC" {% if up_data.category == 'PC' %} selected {% endif %}>Pc</option>
                        
                          <option value="MB" {% if up_data.category == 'MB' %} selected {% endif %}>Mobile</option>
                        
                          <option value="W" {% if up_data.category == 'W' %} selected {% endif %}>Wallets</option>
                        
                          <option value="OTHER" {% if up_data.category == 'OTHER' %} selected {% endif %}>Other</option>
                        
                        </select>
                            
                            
                          </p>
                        
                          
                          <p>
                            <label for="id_notes">Notes:</label>
                            <textarea name="notes" cols="40" rows="2" class="form-control" required id="id_notes">{{ up_data.notes }}</textarea>
                      
                          </p>
                        <input type="submit" class="btn btn-outline-secondary btn-sm float-end" value="update" name="updata" />

                      </form>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-lg-3">

            </div>        
        </div>
    </div>
{% endblock %}